<div class="pipe-pure-component-layout">
  <h2>{{ title }}</h2>
  <p style="color: red;">
    trường hợp isCreateNewArray = true. thì pure = true/false là như nhau
    <br>
    trường hợp isCreateNewArray = false thì pure = true/false sẽ cho kết quả khác nhau
  </p>
  <p>
    New hero:
    <input
      type="text"
      #box
      (keyup.enter)="addHero(box.value); box.value = ''"
      placeholder="hero name"
    />
    <input  type="checkbox" [(ngModel)]="canFly" /> can fly: {{canFly}}
  </p>
  <p>
    <input  type="checkbox" [(ngModel)]="isCreateNewArray" />isCreateNewArray = {{isCreateNewArray}}
    <button (click)="reset()">Reset</button>
  </p>

  <h4>Heroes who fly = true ( piped, pure=true)</h4>
  <div id="flyers">
    <div *ngFor="let hero of heroes | flyingHeroes">
      {{ hero.name }}
    </div>
  </div>

  <h4>All Heroes (no pipe)</h4>
  <div id="all">
    <div *ngFor="let hero of heroes">
      {{ hero.name }}
    </div>
  </div>
</div>
