<div class="pipe-pure-component-layout">
  <h2>pipe-pure.component: (pure = true)</h2>
  <p style="color: blue">
    Pure = true: khi thay đổi thành phần của biến Pipe sẽ ko đc gọi. (performance nhanh hơn)
    <br />
    Pure = false: khi có thay đổi thành phần của variable thì Pipe sẽ đc gọi.
  </p>

  <p>
    New hero:
    <input
      type="text"
      #box
      (keyup.enter)="addHero(box.value); box.value = ''"
      placeholder="hero name"
    />
    <input type="checkbox" [(ngModel)]="canFly" /> can fly: {{ canFly }}
  </p>
  <p>
    <input type="checkbox" [(ngModel)]="isCreateNewArray" />isCreateNewArray =
    {{ isCreateNewArray }}
    <button (click)="reset()">Reset</button>
  </p>
  <p style="color: red">
    isCreateNewArray = true: mỗi lần add new Hero thì Array Heroes đc tạo mới
    <br />
    isCreateNewArray = false: Mỗi lần add new Hero thì Array Herroes ko tạo mới mà cập nhật thành
    phần
  </p>

  <h3>Array Herro( piped, pure=true): filter(can-fly = true)</h3>
  <div id="flyers">
    <div *ngFor="let hero of heroes | flyingHeroes">
      {{ hero | json }}
    </div>
  </div>

  <h3>Array Heroes(no pipe)</h3>
  <div id="all">
    <div *ngFor="let hero of heroes">
      {{ hero | json }}
    </div>
  </div>
</div>
